

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

#home {
    background-image: linear-gradient(to bottom, #333, #555);
    background-size: 100% 300px;
    background-position: 0% 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#about {
    padding: 2em;
}
.Info{
    font-size: x-large;
}
.Information{
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#projects {
    padding: 2em;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects {
    margin: 20px;
    width: calc(33.33% - 20px);
}

.projects img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
}






#certificatets {
    padding: 2em;
}

.certificates-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.certicicates {
    margin: 20px;
    width: calc(33.33% - 20px);
}

.certificates img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
}

#contact {
    padding: 2em;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}
